@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Shadows+Into+Light&display=swap');

:root {
  --primary-color: #6cb4ee;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  background: #333;
}

nav a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-color);
}

/* main */

.form-container {
  /* height: 300px; */
  width: 100%;
  background: var(--primary-color);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.form-container input {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem;
}

.form-container button {
  font-size: 20px;
  color: white;
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  transform: scale(1.1);
}

/* image section */

.image-container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6rem;
}

.error-msg {
  color: rgb(231, 31, 31);
}

#image {
  margin: 0.5rem;
}

#message {
  padding: 1rem;
  font-size: 1.15rem;
}

@media only screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .form-container input {
    font-size: 16px;
    width: 95vw;
    min-width: 200px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.5rem;
  }

  .form-container button {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
