<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}"
    />
    <!-- stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='loader.css') }}"
    />
    <!-- scripts -->
    <script defer src="static/main.js"></script>
    <title>Open AI Image Create</title>
  </head>

  <body>
    <header>
      <nav class="nav">
        <h2>OpenAI Image Generator</h2>
        <a class="link" href="https://beta.openai.com/docs" target="_blank"
          >OpenAI Documentation</a
        >
      </nav>
    </header>

    <main>
      <section class="form-container">
        <input class="input" type="text" data-input />
        <select class="select" name="size" id="size" data-size>
          <option value="small" selected>Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
        </select>
        <button class="button" type="button" data-button>Generate</button>
      </section>
      <section class="image-container">
        <h2 class="error-msg" data-error></h2>
        <img class="image" src="" alt="" id="image" data-image />
        <p id="message" data-message></p>
      </section>
    </main>
    <div id="loading" class="loading" data-loading>Loading&#8230;</div>
  </body>
</html>
