<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='loader.css') }}"
    />
    <script defer src="static/main.js"></script>
    <title>Open AI Image Create</title>
  </head>

  <body>
    <header>
      <nav>
        <h2>OpenAI Image Generator</h2>
        <a href="https://beta.openai.com/docs" target="_blank"
          >OpenAI Documentation</a
        >
      </nav>
    </header>

    <main>
      <section class="form-container">
        <input type="text" />
        <button type="button">Generate</button>
      </section>
      <section class="image-container">
        <h2 class="msg"></h2>
        <img src="" alt="" id="image" />
        <p id="message"></p>
      </section>
    </main>
    <div id="loading" class="loading">Loading&#8230;</div>
  </body>
</html>
